.body{
    background-color: #222;
    align-items: center;
    justify-content: center;
  
  ul {
    list-style: none;
    padding: 0;
    border: 10px solid purple;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3a3a3a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 500px;
  }
  
  li input[type='checkbox'] {
    margin-right: 10px;
  }
  
  li input[type='text'] {
    flex: 1;
    padding: 5px;
    border: none;
    background: transparent;
    color: white;
  }
  
  li input[type='text']:focus {
    outline: none;
  }
  
  li button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
}